@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --light: #fff;
  --dark: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a,
p {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "DM Mono", monospace;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100svh;
  background-color: var(--dark);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  z-index: 1;
}

.hero-overlay .counter {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  color: var(--light);
}

.hero-overlay .counter h1 {
  font-size: 4rem;
  font-weight: 500;
}

.overlay-text-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 2rem;
  overflow: hidden;
}

.overlay-text-container .overlay-text {
  display: flex;
  flex-direction: column;
  transform: translateY(2rem);
  will-change: transform;
}

.overlay-text-container .overlay-text p {
  color: var(--light);
  height: 2rem;
  display: flex;
  align-items: center;
}

.hero-images {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  gap: 10vw;
  will-change: gap;
  z-index: 1;
}

.hero-images .img {
  width: 100%;
  aspect-ratio: 16/9;
  transform: translateY(50%) scale(0.5);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  opacity: 0;
  will-change: opacity, transform, clip-path;
}

.hero-header {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  z-index: -1;
}

.hero-header h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 8vw;
  font-weight: 500;
  line-height: 0.85;
}

.hero-header h1 .word {
  transform: translateY(100%);
  will-change: transform;
}

.hero-header p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 0.85;
}

.hero-header p .word {
  transform: translateY(100%);
  will-change: transform;
}

.roll {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1rem;
  text-decoration: none;
}

.roll .text {
  display: block;
  transition: transform 0.4s ease;
}

.roll .text:nth-child(1) {
  transform: translateY(0%);
}

.roll .text:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

.roll:hover .text:nth-child(1) {
  transform: translateY(-100%);
}

.roll:hover .text:nth-child(2) {
  transform: translateY(0%);
}

.img-preview-overlay {
  position: absolute;
  inset: 0;
  background: var(--light);
  z-index: 2;
  transform: translateY(0%);
}

.img-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.img-preview img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: transform, clip-path;
}

.minimap {
  position: absolute;
  top: 50%;
  right: 8em;
  width: 80px;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border: 1px solid #000;
  z-index: 2;
}

.items {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  will-change: transform;
}

.item {
  width: 100%;
  height: 60px;
  padding: 4px;
  cursor: pointer;
}

.img-profile-reveal {
  position: absolute;
  top: 8rem;
  left: 2rem;
  width: 32%;
  height: 48%;
  overflow: hidden;
}

.img-profile-reveal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}

.img-profile-overlay {
  position: absolute;
  inset: 0;
  background: var(--light);
  z-index: 2;
  transform: translateY(0%);
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.about-copy {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  max-width: 64%;
}
.about-tools {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 8rem;
  right: 2rem;
}

.about-contact {
  position: absolute;
  display: flex;
  gap: 2rem;
  bottom: 2rem;
  right: 2rem;
}

@media (max-width: 1000px) {
  body {
    overflow: hidden;
    touch-action: none;
  }
  .container {
    touch-action: none;
  }

  nav {
    padding: 1rem;
  }
  .hero-overlay .counter {
    right: 1rem;
    bottom: 1rem;
  }
  .hero-images {
    padding: 0 0.5rem;
    gap: 2.5vw;
  }
  .hero-images .img {
    width: 20vw;
  }

  .minimap {
    top: auto;
    right: auto;
    bottom: 5em;
    left: 50%;
    width: auto;
    height: 80px;
    touch-action: none;
  }
  .indicator {
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
  }
  .items {
    flex-direction: row;
    width: max-content;
    height: 100%;
    touch-action: none;
  }

  .item {
    width: 60px;
    height: 100%;
    padding: 5px;
  }

  .img-preview {
    top: 45%;
    width: 75%;
    height: 50%;
  }

  .img-profile-reveal {
    top: 4rem;
    left: 1rem;
    width: 24%;
    height: 32%;
    overflow: hidden;
  }

  .about-copy {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: 100%;
  }
  .about-tools {
    position: absolute;
    top: 4rem;
    right: 1rem;
  }
  .about-contact {
    position: absolute;
    display: flex;
    gap: 1rem;
    top: 48%;
    left: 1rem;
  }
}
